@model ZSKCurrencyCounter
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Euro2ZSK</title>
</head>
<body>
    <div>
        <label asp-for="AmountCows">Anzahl Kühe</label>
        <input asp-for="AmountCows" />
    </div>

    <div>
        <label asp-for="AmountSheeps">Anzahl Schafe</label>
        <input asp-for="AmountSheeps" />
    </div>
    <div>
        <label asp-for=" AmountGoats">Anzahl Ziegen</label>
        <input asp-for="AmountGoats" />
    </div>
    <div>
        <label asp-for=" AmountSmallGoats">Anzahl kleine Ziegen</label>
        <input asp-for="AmountSmallGoats" />
    </div>    

</body>
</html>
